<script type="x/template" id="vue-variation-select">
    <div>
        <div class="col-xs-12 col-md-12 col-lg-12 variation-select" v-for="(attribute, attributeId) in attributes">
            <div class="input-unit" ref="labelBoxRef">
            <label v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.singleItemContent") }}">Bitte wähle eine Variante:</label>
                <select size="3" class="custom-select" v-model="selectedAttributes[attributeId]" @change="onSelectionChange(selectedAttributes[attributeId])">
                        <option :value="null" v-if="hasEmptyOption">{{ trans("Ceres::Template.singleItemPleaseSelect") }}</option>
                        <option
                            v-for="(attributeValue, attributeValueId) in attribute.values"
                            :value="attributeValueId"
                            :disabled="!isEnabled(attributeId, attributeValueId)">
                            ${ attributeValue }
                        </option>
                </select>
            </div>
        </div>
        <div class="col-xs-12 col-md-12 col-lg-12 variation-select" v-if="possibleUnitIds.length > 1">
            <div class="input-unit">
            <label v-tooltip data-toggle="tooltip" data-placement="top" title="{{ trans("Ceres::Template.singleItemContent") }}">Bitte wähle eine Variante:</label>
                <select size="3" class="custom-select" v-model="selectedUnitId" @change="onSelectionChange(possibleUnitIds[selectedUnitId])">
                    <option :value="0" v-if="hasEmptyOption">{{ trans("Ceres::Template.singleItemPleaseSelect") }}</option>
                    <option
                            v-for="unitCombinationId in possibleUnitIds"
                            :value="unitCombinationId">
                        ${ variationUnits[unitCombinationId] }
                    </option>
                </select>
                
                <ul class="custom-select text-gray-dark" v-model="selectedUnitId" @change="onSelectionChange(possibleUnitIds[selectedUnitId])">
                    <li :value="0" v-if="hasEmptyOption">{{ trans("Ceres::Template.singleItemPleaseSelect") }}</li>
                    <li
                            v-for="unitCombinationId in possibleUnitIds"
                            :value="unitCombinationId">
                        ${ variationUnits[unitCombinationId] }
                    </li>
                </ul>
            </div>
        </div>
    </div>
</script>
