{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.login") }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}
<h1>Fast geschafft...</h1>
<p>Dieser Schritt kann technisch nicht übersprungen werden, da hier eigentlich die Auswahl zum Login oder zur Gastbestellung erfolgt - auf die wir verzichten.</p>
    {{ component( "CeresCoconut::Customer.Components.LoginView") }}
    {{ component( "CeresCoconut::Customer.Components.Login") }}
    {{ component( "CeresCoconut::Customer.Components.GuestLogin") }}
    <login-view template="#vue-login-view"></login-view>
{% endblock %}
